dataset
wandb
lightning_logs
event_classification
event_recognition
event_detection
qat_model.ckpt
compare.py
read_model.py
results
YOLOX
build


__pycache__
*.pyc
*.pyo
*.pyd
*.so
*.dylib
*.dll
*.exe
*.obj

